gluonts
gluonts[torch]
gluonts[mxnet]
pytorchts
PyVirtualDisplay==3.0
gymnasium==0.28.1
gurobipy
orjson
optuna
pytorch_forecasting
optuna-integration
cpflows
uncertainty-toolbox
numpy==1.23.1
pyro-api==0.1.2
pyro-ppl==1.8.4
wandb==0.15.8
pmdarima